.deweyIcon {
    display: inline-block;
    fill: #666 !important;
    height: 16px;
    vertical-align: bottom;
    width: 16px;
}

.deweyIcon:hover {
  fill: #2196F3 !important; 
}

/*.deweyIcon:hover {
  fill: #2196F3 !important; 
}*/

#dialogModal {
  z-index: 1000;
  position: fixed;
  top: 30px;
  min-width: 290px;
}

.modalHide {
  display: none;
}
