.deweyIcon {
    display: inline-block;
    fill: #666;
    height: 16px;
    vertical-align: bottom;
    width: 16px;
}

.deweyIcon:hover .saved {
        fill: #ef4056;
}

#dialogModal {
  z-index: 1000;
  position: fixed;
  top: 30px;
  min-width: 290px;
}

.modalHide {
  display: none;
}
